pybind11
cvxopt
cython_bbox
# cython
# faiss-gpu
# opencv-python
# loguru
# thop
# tabulate
# tqdm
# json_tricks
# lap
# numpy==1.23.5
# imageio
# yacs
# scikit-learn
# tensorboard
# gdown
# termcolor